main {
    padding: 50px 2rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 1.4rem;
    font-weight: 300;
    color: $gray;
    margin-bottom: 1.6rem;
}

h1 span {
    font-weight: 700;
    color: $very-dark-blue;
}

p {
    font-size: .75rem;
    color: $gray;
    margin-bottom: 2rem;
}

form {
    margin-bottom: 3rem;
    position: relative;
}

form input[type='email'],
button {
    width: 100%;
    appearance: none;
    border: none;
    border: 1px solid $pale-blue;
    border-radius: 30px;
    padding: .5rem 2rem;
    color: $gray;
    font-size: .85rem;
}

form input[type='email'] {
    margin-bottom: 1rem;
}

button {
    border: 1px solid transparent;
    background-color: $blue;
    color: #fff;
    transition: $transition;
    cursor: pointer;
}

button:hover {
    background-color: $light-blue;
    color: #fff;
}

.hero-img {
    text-align: center;
    margin-bottom: 6rem;
}

.hero-img img {
    display: inline;
    width: 100%;
    max-width: 700px;
}

.err {
    color: $light-red;
    font-size: .75rem;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 5px;
    position: static;
    left: 0;
    bottom: 0;
}

@media screen and (min-width: 768px) {

    form input[type='email'] {
        width: 70%;
        margin-bottom: 0;
    }

    form button {
        width: 24%;
    }

    h1 {
        font-size: 3rem;
        font-weight: 300;
        color: $gray;
        margin-bottom: 1.6rem;
    }

    h1 span {
        font-weight: 700;
        color: $very-dark-blue;
    }

    p {
        font-size: 1rem;
        color: $gray;
        margin-bottom: 2rem;
    }

    form input[type="email"]::placeholder {
        color: $pale-blue;
    }

    form input[type='email'],
    button {
        appearance: none;
        border: none;
        border: 1px solid $pale-blue;
        border-radius: 30px;
        padding: 1rem 2rem;
        color: $gray;
        margin-bottom: .5rem;
        font-size: .85rem;
    }

    button {
        border: 1px solid transparent;
        background-color: $blue;
        color: #fff;
        transition: $transition;
        cursor: pointer;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    }

    .err {
        color: $light-red;
        font-size: .75rem;
        padding: 0;
        margin: 0;
        text-align: left;
        margin-left: 2rem;
        position: absolute;
        left: 0;
        bottom: -10px;
    }
}