@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=League+Spartan:wght@400;500;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Outfit:wght@500;700&display=swap');

$blue: hsl(223, 87%, 63%);
$light-blue: rgb(121, 149, 222);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);
$font-size: 20px;
$font-family: 'Libre Franklin', sans-serif;
$transition: all .3s linear;